.inscription {
    background-color: rgba(255, 255, 255, 0.7);
    /* Couleur de fond avec transparence */
    width: 30vw;
    /* Largeur à 30% de la fenêtre */
    height: 35vh;
    /* Hauteur à 35% de la hauteur de la fenêtre */
    display: flex;
    /* Affichage en flexbox */
    justify-content: center;
    /* Centre les éléments horizontalement */
    flex-direction: column;
    /* Orientation des éléments en colonne */
    align-items: center;
    /* Centre les éléments horizontalement */
    border-radius: 5px;
    /* Coins arrondis */
}

#userName,
#mail,
#motDePasse {
    height: auto;
    /* Hauteur automatique */
    width: auto;
    /* Largeur automatique */
}